 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
}

.header-main{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    height: 80px;
    justify-content: space-around;
}

.line{
    border: 0;
    border-top: 1px solid rgb(221, 221, 221);
    margin-bottom: 50px;
}

.logo-img {
    width: 13%;
}

.nav a{
    margin: 20px;
    color: black;
}


.container h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}



body {
    font-family: Arial, sans-serif;
    height: 700px;
}

.container {
    padding: 20px;
    margin: auto;
    width: 500px;
    height: 870px;
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow:20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;

}

.container h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}    
  

form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 40px;
    box-sizing: border-box;
}

.form-group input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
}

.form-group input[type="submit"]:hover {
    background-color: #45a049;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: rgb(234, 247, 222);
    margin-top: 50px;
}
footer p{
    margin-left: 40px;
    margin-right: 40px;
}

@media (min-width:768px) and (max-width:1024px) {
    footer{
        font-size: 12px;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .header-main{
        font-size: 10px;
    }

    .nav a{
        margin: 10px;
    }

    .logo-img{
        width: 30%;
    }

    .container {
        width: 350px;
        height: 750px;
    }

    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 120px;
        background-color: rgb(234, 247, 222);
    }
    footer p{
        margin-left: 40px;
        margin-right: 40px;
        font-size: 12px;
    }
}